body {
    display: flex;
    justify-content: center;
    align-items: center; 
    /* background-color: rgba(27, 118, 59, 0.65) */
    background: #f7c41d;
}

.x {
    background-image: url(animated_kangaroo.gif);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}

.o {
    background-image: url(Animated_Koala_no_background.gif);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.turn {
    font-weight: bold;
    font-size: 1rem;
    background-color: rgba(19, 114, 55, 0.2);
}

.winnerText {
    font-weight: bold;
    font-size: 2rem;
}

.playerWinText {
    font-weight: bold;
    font-size: 2rem;
}

.boxes, .scores {
    display: flex;
    flex-wrap: wrap;
    
}

.scores {
    justify-content: space-evenly;
    
}

header {
   text-align: center;
   margin: 30px 0;
   color: #137237;
   /* font-size: 32px; */
   font-size: calc(1rem + 1vw);
}


.boxes {
    /* width: 600px; */
    /* width: 100%;
    height: 600px; */
    /* height: 60vh;
    width: 33vw; */
    /* flex: integer 1 0; */
    min-height: 60vh;
    min-width: 33vw;
}


.box {
    flex-basis: 33%;
    
}

.top {
    border-bottom: 2px solid #137237;
}

.middle {
    border-bottom: 2px solid #137237;
}

.bottom {

}

.left {
    border-right: 2px solid #137237;
}

.right {
    border-left: 2px solid #137237;
}

footer {
    /* height: 33%; */
    display: flex; 
    /* align-items: center;  */
    justify-content: space-evenly;
    margin: 30px 0;
}

.p1, .p2, .tie, .player {
    /* width: 100px; */
    flex: 0 0 33%;
    justify-content: center;
    text-align: center;
    color: #137237;
    /* font-size: 32px; */
    min-width: 5vw;
    font-size: calc(1rem + 1vw);
    
}

.restart {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        background-color: transparent;
}

.flash {
    -webkit-animation-name: flash;
    animation-name: flash;
    animation-duration: 1s;
    animation-timing-function: steps(1, end);
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: flash;
    background-color: rgba(19, 114, 55, 0.2);
  }

@-webkit-keyframes flash {
    from,
    50%,
    to {
      opacity: 1;
    }
  
    25%,
    75% {
      opacity: 0;
    }
  }
  
@keyframes flash {
    from,
    50%,
    to {
      opacity: 1;
    }
  
    25%,
    75% {
      opacity: 0;
    }
}
  
/* @media (max-width: 500px) {
    header, .p1, .p2, .tie, .player {
        font-size: 1.25rem;
    }
    .p1, .p2, .tie, .player {
        min-width: 10vw;
    }
} 

@media (max-height: 850px) {
    .p1, .p2, .tie, .player {
        font-size: 1.25rem;
    }
    .p1, .p2, .tie, .player {
        min-width: 10vw;
    }
}

@media (max-height: 780px) {
    header {
        font-size: 1.25rem;
    }
}  */

@media (max-width: 50em) {
    header {
      font-size: 22px;
    }
  }

  @media (max-width: 50em) {
    .p1, .p2, .tie, .player {
      font-size: 16px;
    }
  }
